* {
    margin: 0;
    padding: 0;
}

body {
    overscroll-x: hidden;
}


br {
    display: none;
}

.no-wrap {
    white-space: nowrap;
}

.text-wrap-balance {
    text-wrap: balance;
}

.hide-element {
    display: none;
}

.position-absolute {
    position: absolute;
}

.main {
    /* width: 100vw; */
}

.nav-section {
    background: url("https://i.ibb.co/VjJc8tT/Bg-hero.png") no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 99px;
    position: sticky;
    top: 0px;
    z-index: 99;
    /*   border: 1px solid black; */
}

.first-section {
    background: url("https://i.ibb.co/VjJc8tT/Bg-hero.png") no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 900px;
    /*   border: 1px solid black; */
}

.second-section {
    background-color: #A8FF35;
    background-size: cover;
    width: 100vw;
    height: 742px;
    /*   border: 1px solid black; */
}

.third-section {
    background-color: white;
    background-size: cover;
    width: 100vw;
    min-height: 586px;
    /* height: auto; */
    /*   border: 1px solid black; */
    /*   0.79 */
}

.fourth-section {
    background-color: white;
    background-size: cover;
    width: 100vw;
    min-height: 1000px;
    /*   border: 1px solid black; */
}

.fifth-section {
    background-color: #FAFAFA;
    background-size: cover;
    width: 100vw;
    min-height: 2409px;
    /*   border: 1px solid black; */
}

.fifth-section-second {
    background-color: #FAFAFA;
    background-size: cover;
    width: 100vw;
    min-height: 200px;
    /*   border: 1px solid black; */
}

.sixth-section {
    background-color: #000000;
    background-size: cover;
    width: 100vw;
    min-height: 1128px;
    padding-bottom: 100px;
    /*   border: 1px solid black; */
}

.seventh-section {
    background-color: #A8FF35;
    background-size: cover;
    width: 100vw;
    min-height: 539px;
    /*   border: 1px solid black; */
}

.eighth-section {
    background-color: #FFFFFF;
    background-size: cover;
    width: 100vw;
    min-height: 100px;
    /*   border: 1px solid black; */
}





.card-section {
    background-size: cover;
    width: 360px;
    height: 640px;
    border-radius: 16px;
    /*   border: 1px solid black; */
}

.card-top-div {
    width: 296px;
    height: 126px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.card-mid-div {
    width: 296px;
    height: 430px;
    /* display: inline-block; */
}

.card-color-white {
    background-color: #FAFAFA;
}

.card-color-green {
    background-color: #A8FF35;
}


.test-section {
    background-color: #FAFAFA;
    /*   background-size:cover; */
    max-width: 1440px;
    height: 900px;
    border: 1px solid black;
}


.test-divs {
    background: lightblue;
    width: 200px;
    height: 200px;
    border: 1px solid red;
    /*   flex-grow: 1; */
}

.border-solid-red {
    border: 1px solid red;
}

.gap-1rem {
    gap: 1rem;
}

.gap-100px {
    gap: 100px;
}

.gap-40px {
    gap: 40px;
}

.inline-block {
    display: inline-block;
}

.centered-content {
    margin: 0 auto;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

.align-content-end {
    align-content: end;
}

.vertical-align-middle {
    vertical-align: middle;
}

.position-relative-logo {
    position: relative;
    left: 5.5%;
}

.position-relative-login {
    position: relative;
    right: 1.8%;
}

.position-relative-hero-content {
    position: relative;
    top: 10%;
}

.position-relative-elon-musk {
    position: relative;
    left: 16%;
}

.nav-bar-width {
    width: 100%;
}

.nav-bar-height {
    height: 99px;
}

.nav-bar-width-l {
    width: 25%;
}

.nav-bar-width-c {
    width: 50%;
}

.nav-bar-width-r {
    width: 25%;
}

.nav-bar {}

.content-white {
    color: white;
}

.content-black {
    color: black;
}

.content-grey {
    color: #ADADAD;
}

.content-grey-faded {
    color: #F5F5F5;
    opacity: 0.5;
}

.content-green-faded {
    color: #87D322;

}

.list-style-none {
    list-style: none;
}




.padding-l-r-20 {
    padding: 0 20px
}

.padding-r-3 {
    padding-right: 12px;
}

.padding-l-t-fire-logo {
    padding-left: 3px;
    vertical-align: sub;
}

.padding-r-t-elon-musk-findtrend-logo {
    padding-right: 12px;
    vertical-align: middle;
}

.padding-r-t-tilted-button {
    padding-right: 30px;
    vertical-align: middle;
}

.padding-b-50 {
    padding-bottom: 50px;
}

.margin-16 {
    margin: 16px;
}

.margin-r-16 {
    margin-right: 16px;
}

.margin-l-16 {
    margin-left: 16px;
}

.margin-l-r-12 {
    margin-left: 12px;
    margin-right: 12px;
}

.margin-t-16 {
    margin-top: 16px;
}

.margin-t-40 {
    margin-top: 40px;
}

.margin-t-120 {
    margin-top: 120px;
}

.margin-b-10 {
    margin-bottom: 10px;
}

.margin-b-16 {
    margin-bottom: 16px;
}

.margin-b-40 {
    margin-bottom: 40px;
}

.margin-b-50 {
    margin-bottom: 50px;
}

.margin-b-80 {
    margin-bottom: 80px;
}

.margin-b-180 {
    margin-bottom: 180px;
}

.position-top {
    position: relative;
    top: 130px;
}

.font-family-inter {
    font-family: 'inter', 'sans-serif';
}

.font-family-maven {
    font-family: 'Maven Pro', 'sans-serif';
}

.font-family-kanit {
    font-family: 'Kanit', 'sans-serif';
}

.font-family-roboto {
    font-family: 'Roboto', 'sans-serif';
}

.font-size-16px {
    font-size: 16px;
}

.font-size-18px {
    font-size: 18px;
}

.font-size-20px {
    font-size: 20px;
}

.font-size-24px {
    font-size: 24px;
}

.font-size-36px {
    font-size: 36px;
}

.font-size-60px {
    font-size: 60px;
}

.font-size-64px {
    font-size: 64px;
}

.font-size-72px {
    font-size: 72px;
}


.thick-bold {
    font-weight: bold;
}

.thick-100 {
    font-weight: 100;
}

.thick-300 {
    font-weight: 300;
}

.thick-400 {
    font-weight: 400;
}


.text-decoration {
    text-decoration: none;
}

.text-center {
    text-align: center;
}






.switch-container {
    /*   border: 1px solid red; */
    width: fit-content;
}
















.footer-div {
    width: 88%;
    height: 40px;
}


.logos-tab {
    justify-content: center;
    direction: column;
}


button {
    all: unset;
}

.button-register {
    border-radius: 40px;
    padding: 12px 32px 12px 32px;
    background: white;
}

.button-get-started {
    border-radius: 40px;
    padding: 16px 32px 16px 32px;
    background: #A8FF35;
}

.button-start-now {
    width: 180px;
    height: 58px;
    border-radius: 40px;
    background: #000000;
}

.button-start-free-trial-g {
    width: 296px;
    height: 58px;
    border-radius: 40px;
    background: #A8FF35;
    padding: 16px 88px 16px 88px;
}

.button-start-free-trial-b {
    width: 296px;
    height: 58px;
    border-radius: 40px;
    background: #000000;
    padding: 16px 88px 16px 88px;
}

.button-elon-musk-white-padding {
    position: relative;
    width: 502px;
    height: 202px;
    background: #F5F5F5;
    border-radius: 16px;
}

.button-elon-musk {
    position: relative;
    width: 341.23px;
    height: 82px;
    background: #030303;
}

.button-tilted {
    position: relative;
    width: 293px;
    height: 70px;
    background: #181818;
    box-shadow: 5px 5px 5px black;
}

.button-elon-musk-fade {
    width: 182px;
    height: 82px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    position: absolute;
    top: 0;
    right: 0;
}

.button-tilted-fade {
    width: 182px;
    height: 70px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 5px 5px 5px black;
}

.button-logo {
    padding: 32px;
    border-radius: 8px;
    background-color: white;
}

.button-more-trend {
    border-radius: 40px;
    padding: 16px 32px 16px 32px;
    background: #000000;
}

.button-logo:hover {
    background-color: red;
    scale: 1.1;
    transition: translatex(40px);
    background-color: #a8ff35;
}

.fire-logo {
    width: 14px;
}

.burger-logo {
    width: 30px;
}

.x-logo {
    width: 24px;
    position: absolute;
    top: 35%;
    right: 8%;
}

/* .card-hr-line {
    width: 296px;
    text-align:center;
    margin: auto
} */

.card-li {
    line-height: 3em;

}

.card-li::before {
    content: '✓';
    margin-right: 0.5em;
}


.grid-img {
    background-size: contain;
    width: 100%;
}






.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    transition: .4s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #A8FF35;
    transition: .4s;
}

input:checked+.slider {
    background-color: #A8FF35;
}

input:checked+.slider:before {
    transform: translateX(26px);
    background-color: #FFFFFF;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round::before {
    border-radius: 50%;
}


.rotation--4deg {
    transform: rotate(-4deg);
    z-index: 54;
}

.rotation-4deg {
    transform: rotate(4deg);
    z-index: 51;
}

.rotation--2deg {
    transform: rotate(-2deg);
    z-index: 52;
}

.rotation-2deg {
    transform: rotate(2deg);
    z-index: 53;
}



@media only screen and (min-width:375px) {

    .companies-logos-section {
        position: relative;
        max-width: 1192px;
        min-height: 576px;
        background: white;
        /*   border: 1px solid red; */
        flex-wrap: wrap;
        padding-bottom: 32px;
        /*   box-sizing:border-box; */
        /*   732px */
    }

    .companies-logos-piece {
        width: 266px;
        height: 120px;
        min-width: 266px;
        background: #F5F5F5;
        border-radius: 8px;
        /*   border: 1px solid red; */
    }
}


@media only screen and (max-width:1050px) {
    .mq-hide-element-1050 {
        display: none;
    }

    .mq-position-burger {
        position: relative;
        left: 18%;
    }

    .mq-show-element-1050 {
        display: block;
    }

    .mq-position-relative-logo {
        position: relative;
        left: -7%;
    }


    .mq-padding-r-10 {
        padding-right: 10px;
    }

    .mq-padding-t-40px {
        padding-top: 40px;
    }

    .mq-padding-t-60px {
        padding-top: 60px;
    }

    .mq-padding-b-60px {
        padding-bottom: 60px;
    }

    .mq-footer {
        flex-direction: column;
    }

}




@media only screen and (max-width:375px) {


    br {
        display: block;
    }

    .mq-logos-dims {
        width: 31px;
        height: 31px;
    }

    .mq-button-logo {
        padding: 16px;
        border-radius: 8px;
        background-color: white;
    }

    .mq-scrollmenu {
        background-color: white;
        overflow-x: auto;
        white-space: nowrap;
    }

    .mq-scrollmenu-item {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }

    .mq-scrollmenu-item:hover {
        background-color: #777;
    }

    .media-companies-logos-section {
        position: relative;
        width: 355px;
        min-height: 712px;
        background: white;
        /*   border: 1px solid red; */
        flex-wrap: wrap;
        padding-bottom: 64px;
        /*   box-sizing:border-box; */
        /*   732px */
    }

    .mq-companies-logos-piece {
        width: 162px;
        height: 74px;
        background: #F5F5F5;
        border-radius: 8px;
        /*   border: 1px solid red; */
    }

    .mq-margin-7 {
        margin: 7.5px;
    }

    .mq-grid-img {
        background-size: contain;
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .mq-hide-element {
        display: none;
    }

    .mq-show-element {
        display: block;
    }

    .mq-font-size-14px {
        font-size: 14px;
    }

    .mq-font-size-20px {
        font-size: 20px;
    }

    .mq-font-size-36px {
        font-size: 36px;
    }

 


    .mq-button-get-started {
        border-radius: 40px;
        padding: 12px 24px 12px 24px;
        background: #A8FF35;
    }

    .mq-flex {
        display: flex;
    }

    .mq-flex-column {
        flex-direction: column;
    }

    .mq-justify-center {
        justify-content: center;
    }

    .mq-align-center {
        align-items: center;
    }

    .mq-button-elon-musk-white-padding {
        position: relative;
        width: 339px;
        height: 118px;
        background: #F5F5F5;
        border-radius: 14px;
    }

    .mq-button-elon-musk {
        position: relative;
        width: 291px;
        height: 70px;
        background: #030303;
    }


    .mq-button-elon-musk-fade {
        width: 182px;
        height: 70px;
        background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        position: absolute;
        top: 0;
        right: 0;
    }

    .mq-handwritten-text-1 {
        position: absolute;
        bottom: -70px;
        left: -20px;
        width: 120px;
        height: 90px;
        display: block;
    }

    .mq-handwritten-text-2 {
        position: absolute;
        top: -60px;
        right: -10px;
        width: 120px;
        height: 90px;
        display: block;
    }

    .mq-handwritten-text-3 {
        position: absolute;
        width: 90px;
        height: 90px;
        display: block;
        padding-top: 10px;
        padding-left: 70px;
    }

    .mq-card-section {
        background-size: cover;
        width: 339px;
        height: 602px;
        border-radius: 16px;
        /*   border: 1px solid black; */
    }

}